.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}
.bicicletas-lista h2 {
  margin-bottom: 32px;
  padding: 0;
}
.bicicletas-lista ul {
  display: flex;
  gap: 32px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: scroll;
  padding-bottom: 20px;
  scrollbar-width: none;
}

.bicicletas-lista li {
  min-width: 240px;
}
.bicicletas-lista a {
  display: block;
}
.bicicletas-lista img {
  margin-bottom: 12px;
}
.bicicletas-lista h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
}
.bicicletas-lista h3::before {
  content: "";
  background-color: var(--cor-p1);
  height: 8px;
  width: 12px;
  display: inline-block;
  transition: 0.3s;
}
.bicicletas-lista a:hover h3::before {
  width: 24px;
}

.bicicletas-lista li span {
  padding-left: 20px;
}

@media (max-width: 750px) {
  .bicicletas-lista ul {
    gap: 20px;
  }
}
