.termos {
  padding-top: 64px;
  padding-bottom: 64px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
}
.termos p + h2 {
  margin-top: 40px;
}
.termos p {
  margin-bottom: 20px;
  max-width: 75ch;
}
