:root {
  /* branco ao preto */
  --cor-01: #ffffff;
  --cor-02: #f6f8f3;
  --cor-03: #edf1e8;
  --cor-04: #e5e9dc;
  --cor-05: #d3dbc4;
  --cor-06: #bbc7a4;
  --cor-07: #a0b181;
  --cor-08: #96a972;
  --cor-09: #83985d;
  --cor-10: #708250;
  --cor-11: #5e6c42;
  --cor-12: #2f3621;
  --cor-13: #090b07;
  /* cores primarias */
  --cor-p0: #d3dbc4;
  --cor-p1: #bbc7a4;
  --cor-p2: #a0b181;
  --cor-p3: #83985d;
  --cor-p4: #627246;
  --cor-p5: #161a0f;
}

.cor-01 {
  color: var(--cor-01);
}
.cor-02 {
  color: var(--cor-02);
}
.cor-03 {
  color: var(--cor-03);
}
.cor-04 {
  color: var(--cor-04);
}
.cor-05 {
  color: var(--cor-05);
}
.cor-06 {
  color: var(--cor-06);
}
.cor-07 {
  color: var(--cor-07);
}
.cor-08 {
  color: var(--cor-08);
}
.cor-09 {
  color: var(--cor-09);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-13 {
  color: var(--cor-13);
}

.cor-p0 {
  color: var(--cor-p0);
}

.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
