.container {
  box-sizing: border-box;
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.button-1,
.button-2 {
  padding: 16px 32px;
  display: inline-block;
  background: linear-gradient(#83985d, #627246);
  border-radius: 32px;
  color: var(--cor-01);
  text-transform: uppercase;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  font: 600 1.125rem/1.35 "Poppins", sans-serif;
  max-width: max-content;
  border: none;
  cursor: pointer;
}
.button-1:hover {
  background: var(--cor-01);
  color: var(--cor-p3);
  transition: 0.2s;
}
.button-2:hover {
  background: var(--cor-p2);
  color: var(--cor-01);
}

.secundario {
  background: var(--cor-11);
  color: var(--cor-02);
}
.secundario:hover {
  background: var(--cor-09);
}
.button-1.seta {
  display: flex;
  align-items: center;
}
.button-1.seta::after {
  content: "";
  display: inline-block;
  width: 18px;
  height: 10px;
  margin-left: 12px;
  background-image: url("../../img/icones/seta.svg");
}
.button-1.seta:hover::after {
  transform: translateX(4px);
  transition: 0.2s;
}

@media (max-width: 800px) {
  .button-1 {
    font-size: 1rem;
  }
}
.link {
  display: inline-block;
  color: var(--cor-02);
  font: 500 1.5rem/1.5 "poppins", sans-serif;
  text-transform: uppercase;
}
.link::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentColor;
}
.link:hover {
  color: var(--cor-11);
}

/* titulos internos */
.titulo-bg {
  /* background: linear-gradient(180deg, #a0b181 0%, #627246 100%); */
  background-color: var(--cor-p2);
  padding-top: 52px;
  padding-bottom: 52px;
}

.titulo {
  background: url("../../img/dec/top-right.svg") no-repeat top right 20px;
}

.titulo p {
  margin-bottom: 4px;
  color: var(--cor-03);
}
@media (max-width: 800px) {
  .titulo-bg {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .titulo p {
    font-size: 1rem;
    text-transform: lowercase;
    font-weight: 400;
  }
}
