.bicicleta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: start;
  padding-top: 60px;
  padding-bottom: 60px;
}
#bicicleta .titulo p {
  text-transform: uppercase;
}
.bicicleta-img {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bicicleta-img img {
  flex: 1;
  /* tem que ter o flex 1 nessas listas de img para fazer ela reconhecer o min-width */
  min-width: 200px;
}
.bicicleta-img img:first-child {
  min-width: 100%;
}

.bicicleta-conteudo p {
  margin-bottom: 32px;
}

.bicicleta-comprar {
  display: grid;
  grid-template-columns: max-content auto;
  gap: 20px;
  margin-bottom: 32px;
  align-items: self-start;
  justify-content: start;
}
.bicicleta-comprar span {
  display: flex;
  max-width: max-content;
  margin-bottom: 8px;
  align-items: center;
  gap: 8px;
  background-color: var(--cor-13);
  padding: 4px 8px;
  border-radius: 4px;
}

.bicicleta-conteudo h2 {
  text-transform: uppercase;
  letter-spacing: 0.015rem;
  margin-bottom: 12px;
}

.bicicleta-informacoes,
.bicicleta-ficha {
  padding: 32px;
  background-color: var(--cor-13);
  border-radius: 4px;
}
.bicicleta-informacoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 40px;
  gap: 32px;
}
.bicicleta-informacoes img {
  max-width: 24px;
  margin-bottom: 8px;
}
.bicicleta-ficha {
  border-radius: 4px;
}
.bicicleta-ficha li {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  border-bottom: 2px solid var(--cor-11);
}
.bicicleta-ficha li:last-child {
  border-bottom: none;
}
.bicicleta-ficha span {
  color: var(--cor-07);
}
@media (max-width: 800px) {
  .bicicleta {
    grid-template-columns: 1fr;
    padding-bottom: 40px;
    padding-top: 20px;
  }

  .bicicleta-img {
    grid-row: 2;
  }
}
@media (max-width: 450px) {
  .bicicleta-informacoes {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .bicicleta-comprar {
    grid-template-columns: 1fr;
    gap: 12px;
  }
}
