.introducao-bg {
  background: var(--cor-p2) url("../../img/dec/bottom-left.svg") no-repeat
    bottom 140px left 20px;
  color: var(--cor-01);
  box-shadow: inset 0 -120px var(--cor-01);
}
.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}
/* .introducao-img {
  margin-bottom: -120px;
  dessa forma funciona a img vazada mas tem que dar mais voltas para resolver
} */
.introducao-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.introducao-conteudo {
  align-self: self-end;
  padding-bottom: 200px;
  padding-top: 32px;
}

.introducao-conteudo h1 {
  margin-bottom: 32px;
}

.introducao-conteudo p {
  margin-bottom: 20px;
  color: var(--cor-12);
}

@media (max-width: 800px) {
  .introducao {
    display: flex;
    flex-direction: column;
  }
  .introducao-conteudo h1 {
    margin-bottom: 12px;
  }
  .introducao-conteudo {
    padding-bottom: 32px;
  }
  .introducao-img img {
    max-height: 300px;
    width: 100%;
    margin-bottom: 20px;
    object-position: center;
  }
  .introducao-bg {
    box-shadow: inset 0 -60px var(--cor-01);
  }
}

@media (max-width: 500px) {
  .introducao-conteudo {
    padding-top: 12px;
  }
}
