.insurance-bg {
  background-color: var(--cor-12);
}
.insurance {
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  align-items: center;
}
#seguros .insurance {
  padding-top: 0px;
}
.insurance h2 {
  grid-column: 1/-1;
}
.insurance-item {
  background-color: var(--cor-13);
  padding: 32px 32px 32px 60px;
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 4px;
}

.insurance-item h3 {
  margin-bottom: 40px;
}
.insurance-item span {
  grid-template-columns: 2;
  display: block;
  text-align: right;
}

.insurance-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}
.insurance-item li + li {
  margin-top: 20px;
}
.insurance-item li {
  display: flex;
  align-items: center;
  position: relative;
}
.insurance-item li:before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}
.insurance-item a {
  grid-column: 1/-1;
}

@media (max-width: 800px) {
  .insurance {
    grid-template-columns: 1fr;
  }
}
