.fone-bg1 {
  background-color: var(--cor-06);
  background-image: linear-gradient(
    to right,
    var(--cor-01) 30%,
    var(--cor-p2) 0%
  );
}
.fone-bg {
  background-color: var(--cor-06);
  background-image: linear-gradient(
    to right,
    var(--cor-01) 30%,
    var(--cor-01) 0%
  );
}

.fone {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.fone-img-fixed {
  display: grid;
}
.fone-img-fixed img {
  grid-area: 1/1;
  border-radius: 12px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1);
}
/* mudar depois o javascript para nao clicar nestas fotos aqui */

.titulo-fones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  grid-column: 1/-1;
}

.titulo-fones span {
  border: 1px solid var(--cor-06);
  padding: 8px 16px;
  display: inline-block;
  border-radius: 12px;
}

.fone-bg1 .titulo-fones span {
  border: 1px solid var(--cor-01);
  color: var(--cor-01);
}

.fone-conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}
.fone-conteudo h2 {
  grid-column: 1/-1;
  margin-bottom: 20px;
}
.fone-conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background-color: var(--cor-p1);
  margin-bottom: 8px;
}

.fone-conteudo p {
  grid-column: 1/-1;
  margin-bottom: 20px;
}
.fone-conteudo a {
  place-self: end;
}
.fone-conteudo li {
  display: flex;
}
.fone-conteudo ul {
  display: grid;
  gap: 16px;
}
.fone-conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .fone {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .fone-bg {
    background: var(--cor-01);
  }
  .fone-bg1 {
    background: var(--cor-p2);
  }
}

@media (max-width: 440px) {
  .fone-conteudo {
    grid-template-columns: 1fr;
  }
  .fone-conteudo ul {
    margin-bottom: 32px;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1rem;
  }
  .fone-conteudo a {
    place-self: start;
  }
}
